@charset "utf-8";

* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}
a {text-decoration: none;}
/* 어그로체 */
h1,h2 {
text-align: left;
margin-bottom: 20px;
}

#profile #profile_list{display:flex; 
margin-right: -200px; background-color: rgba(0,0,0,.3); 
border-radius: 15px;
padding: 0 10px;
box-sizing: borderbox;
}
#profile_Img img {
width : 50px;
height: 50px;
border-radius: 50%;
}
header {
width: 100%;
height: 50px; display: flex; justify-content: space-between;
background-color: rgba(0,0,0,.1);
}
#leng{
height : 30px;
width : 100px;
margin: 0;
}
#side_nav{
	width : 15%;
	float: left;
	}
/*테이블*/	
#table{
	width : 100%;
	float: right;
	text-align: center;
	}	
/*서치*/
#searchBox{
	width: 75%;
	height:150px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 20px 10px;
	border: 1px solid black;
	margin: 20px 5%;
    float: right;
	}
.search{
	width : 200px;
	height : 30px;
	border: 1px solid rgba(0,0,0,.3);
	box-sizing: border-box;
	float: left;
	margin: 10px 5px;
}	
/*메인 컨텐츠 박스*/
#mainContent{
	width : 75%;
	float: right;
	margin: 0 5%;
}
.btn_type1{
	font-size:15px;
	width:30px;
	height: 30px;
	text-align: center;
	box-sizing: border-box;
	padding: 0 1px 1px 0;
	margin-top: 10px;
	margin-left:  5px;
}
#total {
	font-size: 20px;
	float: left;
	}
#rows{
	width: 100px;
	float:right;
}
#navTable{
	margin:0 47%;
	float: left;
}
#iconBox1{
	float: left;
}
#iconBox2{
	float: right;
}
.btn a{
	color: #fff;
	text-align: center;
	}

.link{
	padding-top: 2px;
}
/* 모달창 */
.bgModal {width: 100%; height: 100%; background-color: rgba(0,0,0,.7); position: fixed; left: 0; top: 0; z-index: 9998; display: none;
}
.modal {
	z-index: 9999;
}


/*서브페이지*/
#mainContentSub{
	width : 75%;
	float: right;
	margin: 0 5%;
}
.bundle{
	display: flex;
	width: 70%;
	}
.bundle01_item{
		margin-right: 10px;
}
.pointColor{
	color:red;
}


